<template>
  <div>
    <div class="mb-2 text-main">
      {{ title }}
    </div>
    <div class="mb-2">
      {{ description }}
    </div>
    <DwInputText required :value="value" :placeholder="placeholder" :name="name" @input="$emit('input', $event)" />
  </div>
</template>

<script>
export default {
  props: {
    description: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    value: {
      type: String,
      required: true
    }
  },
  methods: {
    onSubmit () {}
  }
}
</script>
