<template>
  <form novalidate @submit.prevent="onSubmit">
    <slot :form="form" />
  </form>
</template>

<script>
export default {
  props: {
    submit: {
      type: [Function, Boolean],
      default: false
    }
  },
  data () {
    return {
      form: {
        name: '',
        race: '',
        species: ''
      }
    }
  },
  methods: {
    onSubmit () {
      // Form Validation

      if (this.submit) {
        this.submit(this.form)
        console.log('form data', this.form)
        return
      }
      this.$order.set(this.form)
      console.log('form data', this.form)

      this.$emit('next-step')
    }
  }
}
</script>
